%h1
= render 'shared/side_bar'
.content
  .content_top
    = link_to edit_group_path(current_user) do
      %input{type: "submit", value: "Edit"}
      .content_top_group
        = @group.name
      .content_top_member
        - @group.users.each do |group|
          %ul= group.name
  .messages
    = render @messages
  .formarea
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
